* {
	padding: 0;
	margin: 0;
}

.header { 
	background: url(img/background-header.jpeg) no-repeat;
	background-size: 100%
}

.container
{
    margin: 0 auto;

}

.container-header
{
	max-width: 800px;
	padding-top: 60px;
    padding-bottom: 150px;
}


.main-nav ul {
	list-style: none;
	padding-left: 200px; 
}

.main-nav li
{
    font-size: 20px;
    line-height: 58px;

    display: inline-block;

    padding-right: 60px;

    border-top: 1px solid white;
    border-bottom: 1px solid white;
}


.main-nav li:last-child{
	padding-right: 0px;
}

.main-nav a {
	color: white;
	text-decoration: none;
}

.logo {
	position: absolute;
}

.header p
{
    font-family: font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 65px;
    font-weight: bold;

    text-align: center;

    color: white;
    margin: 0;
    margin-top: 120px
}

.footer
{
	background-color: black;
	padding-bottom: 60px;
	padding-top: 60px;
}

.logo-footer
{
	margin-left: 40px;
}

.container-footer
{
	max-width: 1000px;
	position: relative;
}

.container-footer .social
{
	position: absolute;
}

.footer ul 
{
	padding-left: 310px;
	list-style: none;
}

.footer-nav li
{
    font-size: 20px;
    line-height: 58px;

    display: inline-block;

    padding-right: 60px; 
}

.footer-nav li:last-child
{
    padding-right: 0px; 	
}

.footer-nav a {
	color: white;
	text-decoration: none;
}



.copyrate-logo 
{
	float: right;
	padding-top: 35px;
	color: white;
}

.copyrate-text
{
	padding-left: 310px;
	padding-top: 55px;
	float: left;
	color: white;
}

.clearfix
{
	clear:both;
}